*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#table_container{
    border: 1px solid salmon;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}

.table_elements{
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
}
.table_elements--active{
    transition: .1s;
    animation: vuelta .6s;
    cursor: pointer;
}
.table_elements--active:hover{
    background-color: black;
    color: beige;
    border: none;
    transform: scale(1.2);
}

.pop-up{
    animation: salto .25s;
}

@keyframes salto {
    1%{
        transform: scale(.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes vuelta {
    0%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}